$color-white: #ffffff;
$color-black: #333333;
$color-grey: #eeeeee;
$color-grey-medium: #666666;
$color-grey-dark: #999999;
$color-yellow: #ffe600;
$color-blue: #3483fa;

$gutter-vertical-small: 1.6rem;
$gutter-vertical-big: 3.2rem;